@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap');
*{
     font-family: "Red Hat Text", sans-serif;
     font-size: 15px;
     padding: 0;
     margin: 0;
     box-sizing: border-box;
}

body{
     background-color: #f0f0f0;
}

#root{
  min-height: 100vh;
}

.title{
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 1.5rem;
}
.appContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
}

.app{    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 500px;
    width: 100%;
    padding: 2rem;
    margin: 1rem;
    background-color: #ffff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px grey;

}

.todoForm{
  display: flex;
  align-items: center;
  width: 100%;
  gap: 0.5rem;
  margin-bottom: 1.5rem;
}

.todoInput{
  flex: 1;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  transition: border-color 0.5s;
}

.todoInput:focus{
  border-color: #5c6bc0;
}

.buttonAdd{
  color: #fff;
  background-color: #5c6bc0;
  padding: 0.5rem;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: background-color 0.5s;
}

.buttonAdd:hover{
  background-color: #3f51b5;
}

.todoContainer{
  width: 100%;
}

.todoContainer ul{
  list-style: none;
}

/* seccion de botones de filtro */
.filterButtons{
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 0.7rem;
  margin-top: 1rem;
}

.filterBtn, .deleteAllBtn{
  cursor: pointer;
  border: solid 1px #ccc;
  background-color: #f7f7f7;
  border-radius: 5px;
  padding: 0.3rem;
  transition: background-color 0.3s, border-color 0.3s;
}

.filterBtn:hover{
  background-color: #e0e0e0;
  border-color: #aaa;
}

.deleteAllBtn:hover{
  background-color: rgba(226, 6, 6, 0.76);
  color: #fff;
}

.filterBtn.active{
  background-color: #5c6bc0;
  color: #ffff;
  border-color: #5c6bc0;
}

.text-error{
  text-align: center;
}

/* seccion footer */

.footerContainer{
  height: 10vh;
  display: grid;
  place-content: center;
  box-shadow: 0px 5px 10px 0px;
  background-color: #e5e5e5;
}
